.dropdown-menu {
  display: none; /* Ẩn dropdown mặc định */
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.show {
  display: block; /* Hiển thị dropdown khi có lớp 'show' */
}

/* Căn giữa toàn bộ phần tử canvas */
.chart-container,
.center {
  display: flex; /* Sử dụng Flexbox */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 100%; /* Đảm bảo chiều cao của container là 100% */
  width: 100%; /* Đảm bảo chiều rộng của container là 100% */
}
